
.bio{
    font-family: 'Inter', sans-serif;
    display: flex; 
    width: 40%;
    margin-left: 100px;
    margin-right: 100px;
    color: #3B3B3B; 
}
.bio-2{
    font-family: 'Inter', sans-serif;
    color: #3B3B3B; 
    display:flex; 
    width: 40%;
    margin-left: 100px;
    margin-right: 100px;
}

.aesthetics{
    font-family: 'Poppins', sans-serif;
    color: #5C4E3D; /* warm brownish-gray */
    margin-left: 100px;
    margin-top: 100px; 
    font-size: 1.75rem;
}

.orange-line {
  width: 65%;            /* length of line */
  height: 3px;             /* thickness */
  background-color: #ffffd8; /* orange color */
  z-index: 2; /* ensure it's on top */
  position: relative;
}

.dashed-line {
  width: 25%;                  /* full width of the section */
  border-top: 7px dashed #ffffd8; /* orange dashed line */
  margin-top: 150px;             /* space above the line */
  margin-left:100px; 
}



