
.bio{
    font-family: 'Inter', sans-serif;
    display: flex; 
    width: 40%;
    margin-left: 100px;
    margin-right: 100px;
    color: black; 
}
.bio-2{
    font-family: 'Inter', sans-serif;
    color: black; 
    display:flex; 
    width: 40%;
    margin-left: 100px;
    margin-right: 100px;
}

.aesthetics{
    font-family: 'Poppins', sans-serif;
    color: black; /* warm brownish-gray */
    margin-left: 100px; 
    font-size: 1.2rem;
}

.color-1{
  color:#00bcd4; 
}

.color-2{
  color:#00bcd4; 
}

.dashed-line{
  margin-top: 50px;
  margin-left: 98px;
  width:42%; 
  border: none; /* Remove default border */
  border-top: 3px solid black; /* Add a custom top border */
  
}





