.intro-projects {
    display: flex; 
    justify-content: center; 
    align-items: center; 

    background-color: #0a0a0a; 
    color: #f1f1f1; 

    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 35px; 
    margin-top: 270px; 
    margin-bottom: 100px; 

    
    border: 2px solid #c9a227; 

   
    box-shadow: 0 0 18px rgba(201, 162, 39, 0.25);

    transition: box-shadow 0.3s ease, transform 0.3s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.intro-projects:hover {
    box-shadow: 0 0 25px rgba(201, 162, 39, 0.3);
}

@keyframes appear{
    from{
        opacity:0; 
        scale:0.5; 
    }
    to{
        opacity:1; 
        scale:1; 
    }
    
}

.project{
    margin-top: 200px; 
}

.contact{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}


